<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <import resource="classpath:/xml/mybatis/applicationContext-infrastructure.xml"/>

    <bean id="gpsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.icbc.dataDisplayService.mapper.GPSMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>

    <bean id="gpsService" class="com.icbc.dataDisplayService.service.GPSdataServiceImpl">
        <property name="gpsMapper" ref="gpsMapper" />
    </bean>
</beans>